<div class="container-fluid">
  <div class="row first-body">
    <div class="col-xs-0 col-md-4 leftBody">
      <div class="row first-inner-body">
        <div class="col-md-2 first-inner-body-left">
          <ul>
            <li>
              <i class="ion-ios-home-outline"></i>
            </li>
            <li><i class="ion-ios-person-outline"></i></li>
            <li><i class="ion-ios-paper-outline"></i></li>
            <li><i class="ion-ios-briefcase-outline"></i></li>
            <li><i class="ion-ios-email-outline"></i></li>
          </ul>
        </div>
        <div class="col-md-10 col-s-12 pt-5">
          <div class="container m-auto circular--portrait">
            <img src="../assets/images/profilepic/IMG_0756.JPG" alt="not found">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-s-12 col-md-8 rightBody">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>